* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 7rem;
    margin: 3rem 0;
}

#letter-container {
    border: 3px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
    justify-items: center;
    row-gap: 10px;
    padding: 10px 6px;
    margin-bottom: 30px;
}

.letter-select {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: chartreuse;
}


/* Word display */

#word-container {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 4rem;
    padding: 20px;
    justify-content: center;
    padding-top: 0;
}

.word-display {
    flex: 0 0 auto;
    width: max-content;
    display: flex;
}

.letter-display {
    width: 30px;
    height: 40px;
    border-bottom: 2px solid crimson;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.letter-display.space {
    border-bottom: none;
}

.letter-display.capital {
    text-transform: uppercase;
}

#guess-clue {
    font-size: 2rem;
    text-align: center;
}

#graphic-display {
    width: 50%;
    max-width: 300px;
    border: 3px solid black;
    border-radius: 3px;
    margin: 0 auto;
}

#graphic-display img {
    width: 100%;
    display: block;
}

/* Buttons */

#button-container {
    width: 50%;
    max-width: 300px;
    margin: 10px auto;
    display: flex;
}

.btn {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    height: 50px;
    font-size: 2rem;
}

.btn:nth-of-type(1) {
    margin-right: 3%;
}

@media (min-width: 800px) {
    #guess-clue {
        margin: 3rem 0;
        font-size: 2.5rem;
    }

    #button-container {
        margin-top: 3rem;
    }

    .btn {
        height: 60px;
        font-size: 2.5rem;
    }

    h1 {
        font-size: 8rem;
    }
}